<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <button class="navbar-toggler icon" type="button" (click)="toggleNavbar = !toggleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngbCollapse]="toggleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Principala</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="orders" *ngIf="currentUserService.isAuthorized() | async" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Orders</a>
      </li>
      <!--<li class="nav-item">-->
        <!--<a class="nav-link soon" *ngIf="currentUserService.isAuthorized() | async" routerLinkActive="active"><i class="fa fa-bus"></i> &ensp;Delivery</a>-->
      <!--</li>-->
      <li class="nav-item">
        <a class="nav-link" routerLink="list" *ngIf="currentUserService.isAdmin() | async" routerLinkActive="active">List Products</a>
      </li>
    </ul>
  </div>

  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <li [routerLinkActive]="['active']">
        <a class="nav-item nav-link" *ngIf="!isAuthorized" (click) = "login()">
          <span class="glyphicon glyphicon-user">Login</span>
        </a>
      </li>
      <li [routerLinkActive]="['active']">
        <a class="nav-item nav-link" *ngIf="isAuthorized" (click)="logout()">
          <span class='glyphicon glyphicon-log-out'></span>Logout
        </a>
      </li>

      <!--<a class="nav-item nav-link" routerLink="profile">-->
        <!--<i class="fa fa-user"> Profile</i>-->
      <!--</a>-->
      <a class="nav-item nav-link"  routerLink="cart" [class.activated] = "true" (click)="service.getProductsFromCart()" *ngIf="currentUserService.isCustomer() | async">
        <i class="fa fa-shopping-cart"> Cart: {{service.totalPrice | async}} Lei </i>
      </a>
      <a class="nav-item nav-link" href="https://github.com/vasilevieru">
        <i class="fa fa-github"></i>
      </a>
      <a class="nav-item nav-link">
        <i class="fa fa-odnoklassniki"></i>
      </a>
      <a class="nav-item nav-link">
        <i class="fa fa-instagram"></i>
      </a>
    </div>
  </div>
</nav>


<!--<div class="header">-->
  <!--<mat-toolbar>-->
    <!--<mat-toolbar-row>-->
      <!--<div class="principal" [ngClass]="{'show' : isNavbarOpen === true}">-->
        <!--<div class="">-->
          <!--<a href="#">Principala<span class="sr-only">(current)</span></a>-->
          <!--<a href="#">Catalog</a>-->
          <!--<a href="#">Reduceri</a>-->
          <!--<a href="#">Livrare</a>-->
          <!--<button mat-button (click)="toggleNavbar()" style="width: 30px"><i class="material-icons">reorder</i></button>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="secundar">-->
        <!--<button mat-button routerLink="/login" [hidden]="isLoggedIn$ | async" class="login">Login</button>-->
        <!--<button mat-button (click)="onLogout()" *ngIf="isLoggedIn$ | async" class="logout">Logout</button>-->
        <!--<a href="#" target="_blank"><i class="fa fa-instagram"></i> </a>-->
        <!--<a href="#" target="_blank"><i class="fa fa-github"></i> </a>-->
        <!--<a href="#" target="_blank"><i class="fa fa-odnoklassniki"></i> </a>-->
      <!--</div>-->
    <!--</mat-toolbar-row>-->
  <!--</mat-toolbar>-->
<!--</div>-->





