.login{
color: #999c9f;
}

.logout{
color: #999c9f;
}

button:hover{
color: #dddddd;
}

a:hover{
 cursor: pointer;
}

.active{
  background-color: dodgerblue;
  color: white;
}

.navbar{
  padding: 0;
}

