<div class="content-wrapper" layout="row" layout-wrap>
  <!--<div class="cards" layout="column">-->
  <mat-card style="width: 300px;" *ngFor="let number of [0,1,2,3,4,5,6,7,8,9]">
    <!--TODO: fix sorting!!! DONE-->
    <img src="http://placehold.it/150x150" mat-card-image alt="user avatar">
    <mat-card-content>
      <h2>Product1</h2>
      <hr>
      <span class="md-body-1">Description</span>
    </mat-card-content>
    <mat-card-footer>
      <mat-card-actions layout="column">
        <mat-button class="mat-raised-button mat-primary">Add to cart</mat-button>
      </mat-card-actions>
    </mat-card-footer>
  </mat-card>
</div>
