<!--<div id="header">-->
  <!--<nav class="navbar navbar-dark bg-dark mb-5">-->
    <!--<div class="navbar-expand content collapse" [ngClass]="{'show' : isNavbarOpen === true}">-->
      <!--<div class="navbar-nav mr-auto">-->
        <!--<a class="nav-item nav-link active" href="#">Principala</a>-->
        <!--<a class="nav-item nav-link" href="#">Catalog</a>-->
        <!--<a class="nav-item nav-link" href="#">Reduceri</a>-->
        <!--<a class="nav-item nav-link" href="#">Livrare</a>-->
        <!--<button mat-button class="nav-item navbar-toggler icon" (click)="toggleNavbar()" type="button"-->
                <!--style="width: 30px">-->
          <!--<span class="navbar-toggler-icon"></span>-->
        <!--</button>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="navbar-expand ml-auto navbar-nav">-->
      <!--<div class="navbar-nav">-->

        <!--<button mat-button routerLink="/login" [hidden]="isLoggedIn$ | async" class="login">Login</button>-->
        <!--<button mat-button (click)="onLogout()" *ngIf="isLoggedIn$ | async" class="logout">Logout</button>-->

        <!--<a class="nav-item nav-link" href="https://github.com/vasilevieru" target="_blank">-->
          <!--<i class="fa fa-github"></i>-->
        <!--</a>-->
        <!--<a class="nav-item nav-link" target="_blank">-->
          <!--<i class="fa fa-odnoklassniki"></i>-->
        <!--</a>-->
        <!--<a class="nav-item nav-link" target="_blank">-->
          <!--<i class="fa fa-instagram"></i>-->
        <!--</a>-->
      <!--</div>-->
    <!--</div>-->
  <!--</nav>-->
<!--</div>-->



