<!--<div class="col-md-6">-->
  <!--<h2> Product Details</h2>-->
  <!--<button class="btn btn-danger" mat-raised-button (click)="openDialog()"> Add Product</button>-->
  <!--<table class="table table-striped">-->
    <!--<thead>-->
    <!--<tr>-->
      <!--<th class="hidden">Id</th>-->
      <!--<th>Name</th>-->
      <!--<th>UnitPrice</th>-->
      <!--<th>Description</th>-->
      <!--<th>PhotoUrl</th>-->
      <!--<th>Category</th>-->
      <!--<th>Subcategory</th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr *ngFor="let product of products">-->
      <!--<td class="hidden"></td>-->
      <!--<td></td>-->
      <!--<td></td>-->
      <!--<td></td>-->
      <!--<td><button class="btn btn-danger" (click)="deleteProduct(product)"> Delete</button>-->
        <!--<button class="btn btn-danger" (click)="editProduct(product)" style="margin-left: 20px;"> Edit</button></td>-->
    <!--</tr>-->
    <!--</tbody>-->
  <!--</table>-->
<!--</div>-->




