<div>
  <h2><i class="fa fa-list"></i>&ensp; Product list</h2>
  <hr>
</div>

<div class="mat-elevation-z8 list-prod">
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
      <mat-cell *matCellDef="let product">
          <span> {{ product.id }} </span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="photo">
    <mat-header-cell *matHeaderCellDef>Photo</mat-header-cell>
    <mat-cell *matCellDef="let product">
    <img src="D:\onlineshop\images.jpg" *ngIf="product.photos.length > 0" style="width: 45px; height: 45px;">
    </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let product">
          <span>{{ product.name }}</span>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="unitPrice">
      <mat-header-cell *matHeaderCellDef>Unit Price</mat-header-cell>
      <mat-cell *matCellDef="let product">
          <span>{{ product.unitPrice }}</span>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
      <mat-cell *matCellDef="let product">
          <span>{{ product.description }}</span>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="category">
      <mat-header-cell *matHeaderCellDef>Category</mat-header-cell>
      <mat-cell *matCellDef="let product">
          <span>{{ product.category }}</span>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="subCategory">
      <mat-header-cell *matHeaderCellDef>SubCategory</mat-header-cell>
      <mat-cell *matCellDef="let product">
          <span>{{ product.subCategory }}</span>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="actionsColumn">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="accent" (click)="createProduct()">
          <i class="fa fa-plus mat-icon"></i>
        </button>
      </mat-header-cell>
      <mat-cell *matCellDef="let row; let i = index;">
        <button  mat-icon-button color="primary" (click)="startEdit(i,row)">
          <i class="fa fa-pencil mat-icon"></i>
        </button>
        <button mat-icon-button color="primary" (click)="delete(i, row)">
          <i class="fa fa-times mat-icon"></i>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns" ></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="[2, 5, 10, 20, 50]" [length]="totalSize"
                 [pageIndex]="currentPage" (page)="pageEvent = handlePage($event)"></mat-paginator>
</div>





