[layout-wrap]{
  flex-wrap: wrap;
}

.title-page{
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  color: #333333;
  font-family: "Roboto", sans-serif;
}

h3{
  justify-content: center;
  display: flex;
  align-items: center;
}

[layout = row]{
  display: flex;
}

[layout]{
  box-sizing: border-box;
  display: flex;
}

mat-card{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 25px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.14),
  0px 2px 2px 0px rgba(0, 0, 0, 0.098),
  0px 1px 5px 0px rgba(0, 0, 0, 0.084);
  background-color: rgb(255,255,255);
  border-radius: 8px;
}

.mat-button{
  box-sizing: border-box;
  position: relative;
  user-select: none;
  outline: none;
  border: 0;
  display: inline-block;
  align-items: center;
  cursor: pointer;
}

mat-paginator{
  margin-right: 50px;
}

mat-card-actions{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

span.price{
  color: #81d742;
}

@media screen and (max-width: 600px){
  .content-wrapper{
    margin-left: 0;
    margin-right: 0;
  }
}

h2{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

span.md-body-1{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

