<!--&lt;!&ndash;<div class="container">&ndash;&gt;-->
  <!--&lt;!&ndash;<app-header></app-header>&ndash;&gt;-->
  <!--<app-navbar></app-navbar>-->
  <!--<app-sidebar></app-sidebar>-->
  <!--&lt;!&ndash;<app-catalog></app-catalog>&ndash;&gt;-->
  <!--&lt;!&ndash;<app-items></app-items>&ndash;&gt;-->
  <!--&lt;!&ndash;<app-list-product></app-list-product>&ndash;&gt;-->

  <!--&lt;!&ndash;<app-user-profile></app-user-profile>&ndash;&gt;-->
  <!--<app-footer></app-footer>-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
