<div class="column" id="left">
  <div class="top-left"></div>
  <div class="bottom-left">
    <ul class="side-nav">
      <li *ngFor="let key of service.getCategories() ">
        <button class="dropdown-btn" (click)="selectCategory(key)" >{{ key.category }}
          <i *ngIf="key.subcategories?.length != 0" class="fa" [ngClass]="{ 'fa-caret-down': isOpen(key), 'fa-caret-right': !isOpen(key) }" ></i>
        </button>
        <ul *ngIf="isOpen(key)" id="categorySubmenu">
          <li *ngFor="let obj of key.subcategories">
            <a href="#">{{ obj.name }}</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>


