<div id="left" class="column">
  <div class="bottom-left">
      <ul class="side-nav">
        <li *ngFor="let key of service.categories | async">
          <button class="dropdown-btn" (click)="selectCategory(key) ">{{ key.category }}
            <i *ngIf="key.subCategories.length > 0 && key.subCategories[0] != null" class="fa"
               [ngClass]="{ 'fa-angle-down': isOpen(key), 'fa-angle-right': !isOpen(key) }"></i>
          </button>
          <ul *ngIf="isOpen(key)" id="categorySubmenu">
            <li *ngFor="let obj of key.subCategories">
              <a routerLink="product/{{ key.category }}/{{ obj }}" (click)="selected = obj" [class.active]="selected == obj">{{ obj }}</a>
            </li>
          </ul>
        </li>
      </ul>
  </div>
</div>

