<div class="container">
  <h2 mat-dialog-title>Create Product</h2>
  <form [formGroup]="createForm" class="mat-dialog-content" (ngSubmit)="onSubmit()" [dataSource]="prod">
    <div class="form">
      <input formControlName="id" [hidden]="true">
    </div>

    <div class="form">
      <mat-form-field class="full-width-input">
        <input matInput placeholder="Name" formControlName="name" required value="{{prod.name}}">
        <mat-error *ngIf="createForm.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field class="full-width-input">
        <input matInput placeholder="UnitPrice" formControlName="unitPrice" aria-label="Number" required
               value="{{prod.unitPrice}}">
        <mat-error *ngIf="createForm.invalid">{{ getErrorMessage() }}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field class="full-width-input">
        <textarea matInput placeholder="Description" formControlName="description" required
                  value="{{prod.description}}"></textarea>
        <mat-error *ngIf="createForm.invalid">{{ getErrorMessage() }}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <!--<mat-form-field class="full-width-input">-->
      <input ng2FileSelect type="file" formControlName="photos" multiple (change)="fileEvent($event)" style="display: none;" accept="image/*" #filePicker required>
      <button mat-raised-button color="primary" (click)="filePicker.click()">Upload Images</button>

      <!--<input placeholder="PhotoUrl" formControlName="photoUrl" required value="{{prod.photoUrl}}" type="file">-->
      <mat-error *ngIf="createForm.invalid">{{getErrorMessage()}}</mat-error>
      <!--</mat-form-field>-->
    </div>

    <div class="form" *ngIf="!editing">
      <mat-form-field class="full-width-input">
        <input matInput placeholder="Category" formControlName="category" required value="{{prod.category}}"
               [matAutocomplete]="auto1">
        <mat-autocomplete #auto1="matAutocomplete">
          <mat-option *ngFor="let option of categories" [value]="option.category">
            {{option.category}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="createForm.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form" *ngIf="!editing">
      <mat-form-field class="full-width-input">
        <input matInput placeholder="SubCategory" formControlName="subCategory" required value="{{prod.subCategory}}"
               [matAutocomplete]="auto2">
        <mat-autocomplete #auto2="matAutocomplete">
          <mat-option *ngFor="let option of subCategories" [value]="option.subCategory">
            {{option.subCategory}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="createForm.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-raised-button color="primary" type="submit">Save</button>
      <button mat-raised-button color="primary" (click)="close()">Cancel</button>
    </div>
  </form>
</div>
