<div class="column" id="right">
  <div class="top-right">
    <nav>
      <!--<button class="hide-lg right">-->
        <!--&#9776;-->
      <!--</button>-->
      <ul class="topnav" id="myTopnav">
        <li>
          <a href="#home" class="active">Principala</a>
        </li>
        <li>
          <a href="#catalog">Catalog</a>
        </li>
        <li>
          <a href="#sales">Reduceri</a>
        </li>
        <li>
          <a href="#sales">Livrare</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="bottom"></div>
</div>
